body {
    SCROLLBAR-FACE-COLOR: #6699CC;
    SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
    SCROLLBAR-SHADOW-COLOR: #cccccc;
    SCROLLBAR-3DLIGHT-COLOR: #669999;
    SCROLLBAR-ARROW-COLOR: silver;
    SCROLLBAR-TRACK-COLOR: silver;
    SCROLLBAR-DARKSHADOW-COLOR: #9999CC;
	COLOR: #000044;
	BACKGROUND-COLOR: #DEC68B;
	BACKGROUND-IMAGE: url(../images/background.png);
	FONT-FAMILY: Garamond, 'Century Schoolbook','Times New Roman';
}
