      body {
		font-family: Verdana;
		color: #666666;
		font-size: 10pt;
        background-color: #FFFFFF;
		margin-left: 0;
		margin-top: 0;
		margin-right: 0; 
		margin-bottom: 0;
       }

	   body a {
		color:#808040;
		font-family: Verdana;
		text-decoration: None;
		FONT-SIZE: 10pt;
		font-weight:100;
	    }

	   body a:hover {
		color:#666666;
		font-family: Verdana;
		FONT-SIZE: 10pt;
	   }

	   td {
  		font-family: Verdana;
  		color: #666666;
	   }

	   td.headerbg {
	     background-image: url('../graphics/header-bg.gif');
		 background-repeat: repeat-x;
		 color:#FFFFFF;
		 FONT-SIZE: 10pt;
	   }
	   
	   td.ppanel {
  		font-family: Verdana;
  		color: #999999;
		vertical-align:top;
	   }
	   
	   td.pbgt{
	    background-image: url('../graphics/tborder.gif');
		background-repeat: repeat-x; 
		font-weight:600;"
	   }
	   	   
	   td.pbgl{
	   	 background-image: url('../graphics/lborder.gif');
		 background-repeat: repeat-y;
	   }
	   
	   td.pbgr{
	   	 background-image: url('../graphics/rborder.gif');
		 background-repeat: repeat-y;
	   }
	   	   
	   td.pbgb{
	   	 background-image: url('../graphics/bborder.gif');
		 background-repeat: repeat-x;
		 background-color:#FF0000;
	   }
	      
	label
	{
	width: 4em;
	float: left;
	text-align: right;
	/*
	margin-right: 0.5em;
	*/
	display: block
	}
	
	input
	{
	color: #ffffff;
	background: #cccccc;
	border: 1px solid #999999	
	}
	
	input.checkbox{
	border: 0px solid #999999;
	cursor: pointer;
	cursor: hand;
	}
	
	.submit input
	{
	color: #000;
	background: #cccccc;
	border: 2px outset #d7b9c9
	}
	
	input.btn {
  	font: bold 84%'trebuchet ms',helvetica,sans-serif;
  	/*
	background-color: #fed;
	color:#050;
  	*/
	}

	
	fieldset
	{
	border: 1px solid #cccccc;
	/* width: 20em */
	}
	
	legend
	{
	color: #666666;
	background: #ffffff;
	border: 1px solid #999999;
	padding: 2px 6px
	} 
	   
	   